<!DOCTYPE html>
<html lang="en" ng-app = "RegConsoleApp"> <!-- ng is Angular Directive -->
    <head>
        <meta charset="UTF-8">
        <title>D10 EXPRESS Console</title>

        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    
        <!-- loading ORDER of JS files is IMPORTANT -->
        <script src="/libs/jquery/dist/jquery.js"></script>
        <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/libs/angular/angular.js"></script>

        <!-- Index.js typically last file loaded.... where IIFEs are coded -->

        <!-- load my app / use IIFE to execute the application -->
        <script src="/express-console.js"></script>
        <script src="/d10-service.js"></script> <!-- loading RegistrationSvc -->

    </head>

    <body ng-controller = "RegConsoleCtrl as regConsoleCtrl">
        <h1>Express Console - Registration Summary</h1>
        <div class = "container">
            <form name="RegistrationSummary" novalidate ng-submit="RegConsoleCtrl.getRegistration()">
                <table class = "table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>DOB</th>
                            <th>Address</th>
                            <th>Country</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Password</th>
                        </tr>
                    
                    <tbody> 
                        <tr ng-repeat = "i in regConsoleCtrl.registrations"> <!-- | filter:regConsoleCtrl.filterText -->
                            <td>{{ i.name }}</td>
                            <td>{{ i.gender }}</td>
                            <td>{{ i.dob }}</td>
                            <td>{{ i.address }}</td>
                            <td>{{ i.country }}</td>
                            <td>{{ i.contact }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.password }}</td>
                        </tr>
                    </tbody>
                    
                </table>
            </form>
        </div>
        

       
    </body>
</html>

