<!DOCTYPE html>
<html lang="en" ng-app = "RegistrationApp"> <!-- ng is Angular Directive -->
    <head>
        <meta charset="UTF-8">
        <title>D10 Registration Form</title>

        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
        <!-- animate.css -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css">    
        <!--<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">-->
    
        <!-- loading ORDER of JS files is IMPORTANT -->
        <script src="/libs/jquery/dist/jquery.js"></script>
        <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/libs/angular/angular.js"></script>

        <!-- Index.js typically last file loaded.... where IIFEs are coded -->

        <!-- load my app / use IIFE to execute the application -->
        <script src="/d10-control.js"></script>
        <script src="/d10-service.js"></script> <!-- loading RegistrationSvc -->


    </head>

    <body class = container ng-controller = "RegistrationCtrl as registrationCtrl">
        <div class = "container">

        <!-- ********** row 1 Jumbotron -->
        <div class="row">
            <div class="col-xs-12 
                    col-sm-12
                    col-md-12
                    col-lg-12">
            
                    <div class="jumbotron my-background"> <!-- jumbotron is a bootstrap class -->
                        
                        <img width = "800" height = "600" src="https://wordhavering.files.wordpress.com/2013/03/green-pastures.jpg" alt="">

                        <h1 class="wow flip">Welcome!</h1> 
                        <!-- wow flip is animate.css -->
                    </div>
            </div> <!-- end of full screen col -->
    
        </div> <!-- end of row 1 Jumbotron -->
            <h1>Registration Form</h1>

            <form name = "nameForm" ng-submit="registrationCtrl.register()" novalidate>
                <div class = "form-group">
                    <label for = "name">Name: </label>
                    <!-- server reads name but css reads id -->
                    <input type="text" name="name" id="name" class="form-control" size="50" placeholder="Your name" required min="4" ng-model="registrationCtrl.name"> 
                    <!-- binds to registrationCtrl.name -->
                    <br>                     
                </div>
                <div class="radio"> <!-- gender -->
                    <label>
                        <input type="radio" name="gender"
                            value="male" required checked="checked" ng-model="registrationCtrl.gender">Male   
                    </label>
                </div> 
                <div class="radio">
                    <label>
                        <input type="radio" name="gender"                                                   value="female" required ng-model="registrationCtrl.gender">Female
                        </label>
                        <br>
                </div>
                <div class = "form-group">
                    <label for = "dob">DOB:</label>
                    <input type="date" name="dob" id="dob" class="form-control" size="6" placeholder="DOB" required min="10" ng-model="registrationCtrl.dob"> 
                </div>
                <div class = "form-group">
                    <label for = "address">Address: </label>
                    <input type="text" name="address" id="address" class="form-control" size="50" placeholder="Your address" required min="10"
                    ng-model="registrationCtrl.address">
                    <br>                     
                </div>
                <div class = "form-group">
                    <label for = "country">Country: </label>
                    <input type="country" name="country" id="country" class="form-control" size="50" placeholder="Your country" required min="10"
                    ng-model="registrationCtrl.country">
                    <br>                     
                </div>
                <div class = "form-group">
                    <label for = "contact">Contact: </label>
                    <input type="country" name="contact" id="contact" class="form-control" size="15" placeholder="Your contact number" required min="8"
                    ng-model="registrationCtrl.contact">
                    <br>                     
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" placeholder="Your email"
                    required ng-model="registrationCtrl.email" class="form-control">                    
                    <br>
                </div>
                 <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" placeholder="Your password"
                    required min="8" ng-model="registrationCtrl.password" class="form-control">
                    <br>
                </div> 

                <div class="form-control">
                    <button type="submit" class="btn btn-success form-control" ng-disabled = "nameForm.$invalid"> <!--<i class="fa fa fa-cart-plus"></i>-->
                                Confirm your registration
                    </button>
                </div>
                 
            </form>
        </div>
       
    </body>
</html>

